:root {
    --white: #ddd;
    --dark: #111;
    --lightGrey: #9DB2BF;
    --darkGrey: #526D82;
    --darkBlue: #002B5B;
    --lightBeige: #F5EFE3;
    --green: #7db37b;
    --transparent: rgba(255, 0, 0, 0)
}



.header-container {
    position: fixed;
    width: 100%;
    height: 60px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    overflow: auto;
    border-radius: 10px;
    background: linear-gradient(315deg, #002B5B 25%, #F4DFC8 25%, #526D82 25%, #FAF6F0 25%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    z-index: 10;
    /* Ajusta el color de fondo según tus preferencias */
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}



.header-container:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.9;
}

.header-container:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

span.brand-name {
    font-size: 1.5rem;
    margin-left: 25px;
}

.logo-img img {
    height: 40px;
    border-radius: 35%;
    /* Ajusta la altura del logo según tus necesidades */
}

.nav-section {
    width: 460px;
    display: flex;
    align-items: left;
    margin-left: 0%;

}

.brand-container {
    margin-left: 10px;
    margin-right: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.brand-name {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    width: 300px;
    color: var(--green);
    margin-right: 20px;
    margin-left: 50px;
}

.nav-bars ul {
    width: fit-content;
    height: auto;
    list-style: none;
    padding: 0%;
    margin: 5px 15px 5px 5px;
    display: flex;
    align-items: center;


}

.nav-bars li {
    width: fit-content;
    margin-right: 20px;
    border: 2px solid var(--lightBeige);
    background-color: var(--lightBeige);
    /* Espaciado entre elementos de navegación */
    border-radius: 7px;
    box-shadow: 2px 2px 4px var(--green);

}

.nav-bars a {
    width: 45.5px;
    height: 28px;
    color: var(--green);
    font-size: 1rem;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 7px;

}

a.a-index:hover {
    filter: brightness(150%);
    font-size: 1.3rem;
    margin: 0%;



}

a.a-gallery:hover {
    filter: brightness(150%);
    font-size: 1.3rem;
    margin: 0%;

}

a.a-contact:hover {
    filter: brightness(150%);
    font-size: 1.3rem;
    margin: 0%;

}

a.a-projects:hover {
    filter: brightness(150%);
    font-size: 1.3rem;
    margin: 0%;

}

.header-container img {
    width: 50px;
    height: 50px;
}


.section-contact {
    padding: 80px 0;
    background-image: URL('./Images/golden-background.jpg');
    color: var(--green);
}

.contact-top h3 {
    color: var(--green);
}

.section-contact {
    padding: 80px 0;
    background-color: var(--lightBeige);
    color: var(--green);
    text-align: center;
}

.contact-top h3 {
    color: var(--green);
    font-size: 2.5rem;
    margin-bottom: 20px;

}

.contact-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-middle div {
    flex: 0 0 48%;
    margin: 20px 0;
    text-align: left;
}

.contact-icon {
    color: var(--green);
    margin-right: 10px;
}

.contact-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form {
    flex: 0 0 48%;
}

.form input,
.form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid var(--green);
    border-radius: 8px;
    background-color: var(--lightBeige);
    color: var(--dark);
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.form input[type="submit"] {
    background-color: var(--green);
    font-size: 1rem;
    color: var(--lightBeige);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.form input[type="submit"]:hover {
    background-color: var(--lightBeige);
    color: var(--green);
    box-shadow: 2px 2px 4px var(--green);
}

.footer-container.container {
    width: 100%;
    text-align: center;
    padding: 0%;
    border-radius: 10px;
    background: linear-gradient(315deg, #002B5B 25%, #F4DFC8 25%, #526D82 25%, #FAF6F0 25%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    /* Ajusta el color de fondo según tus preferencias */
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}



.footer-container.container:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.footer-container.container:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

.footer-container.container h2 {
    color: var(--green);

}

div.contact {
    display: flex;
    justify-content: space-around;
}

p {
    max-width: 400px;
    font-size: 1rem;
    justify-content: space-around;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    border: 1px solid;
}