:root {
    --white: #ddd;
    --dark: #111;
    --lightGrey: #9DB2BF;
    --darkGrey: #526D82;
    --darkBlue: #002B5B;
    --lightBeige: #F5EFE3;
    --light-orange: #ffa450;
    --transparent: rgba(255, 0, 0, 0)
}

html {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-image:URL('./Images/bkg-1.jpg');
    background-size: cover;
    
    
   
    

}
/* Header */

header.header-container {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:left;
    padding: 10px 10px;
    justify-content: space-around;
    background: linear-gradient(315deg, #1f2022 10%, #dd7c14 15%, #6a7075 25%, #686664 30%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}



.header-container:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.header-container:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}
div.logo-img{
    position: absolute;
    left: 0%;
    top: 5%;
    align-content: center;
}
div.logo-img img {
    width: 100px;
    height: 70px;
    margin-left: 10%;
    border-radius: 20%;
    /* Ajusta la altura del logo según tus necesidades */
}
span.brand-container {
    width: 100%;
    margin-left: 10px;
    margin-right: 30px;
    
    display: flex;
   text-align: center;
   border-radius: 10px;
}

span.brand-name {
    position: relative;
    left: 0%;
    color: var(--light-orange);
    font-size: 2.2rem;
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    margin-left: 25px;
}


div.nav-section {
    display: flex;
    width: 70%;
    align-content: center;
    align-items: center;
    margin-left: 10%;
    
}

div.brand-container {
    min-width: fit-content;
    margin-left: 10px;
    margin-right: 80px;
    width: fit-content;
    align-items: center;
    border-radius: 10px;
}


nav.nav-bars{
    width: fit-content;
    height: fit-content;
    
}
.nav-bars ul {
    width: fit-content;
    height: auto;
    list-style: none;
    padding: 0;
    margin-left: 50px;
    display: flex;
    align-items: center;


}

.nav-bars li {
    width: fit-content;
    margin-right: 20px;
    border: 2px solid var(--lightBeige);
    background-color: var(--lightBeige);
    border-radius: 7px;
    box-shadow: 2px 2px 4px var(--light-orange);

}

a {
    width: fit-content;
    height: fit-content;
    color: var(--light-orange);
    font-size: 1rem;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 7px;
    padding: 5px;

}

a.a-index:hover {
    filter: brightness(110%);
    font-size: 1.3rem;
    margin: 0%;



}

a.a-gallery:hover {
    filter: brightness(110%);
    font-size: 1.3rem;
    margin: 0%;

}

a.a-contact:hover {
    filter: brightness(110%);
    font-size: 1.3rem;
    margin: 0%;

}

a.a-projects:hover {
    filter: brightness(110%);
    font-size: 1.3rem;
    margin: 0%;

}

/* End of Header*/

/*Projects*/ 

.section-projects {
    width: 100%;
    height: 100%;
    margin-top: 0px
}
div.p1-container{
    padding-top: 180px;
    display: flex;
    flex-direction: row;
    
}
.p1-container h1{
    width: 80%;
    position: absolute;
    left: 30px;
    top: 60px;
    color:var(--light-orange);
    font-size: 2.5rem;
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    z-index: 99;
}

div.div-imgs1 {
    height:fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-right: 80px;
    
    padding-left: 40px;
    box-sizing: border-box;

}

div.imgs1-container {
    width: fit-content;
    height:fit-content ;
    margin: 0 1%;
    justify-content:space-around;
    flex-grow: 1;
    flex-basis: 0;
    transition: .5s;
}

div.imgs1-container img {
    width: 100%;
    height: 50%;
    max-width: 250px;
    max-height: 350px;
    object-fit: cover;
    transition: .5s;
    filter: brightness(70%);
    border-radius: 15px;
}

div.imgs1-container:hover {
    flex-basis: 20%;
    filter: brightness(140%);

}

.active {
    flex-basis: 25%;
}

.p1-container p{
    max-width: 300px;
    height: fit-content;
    padding: 10px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.945);
    border-radius: 10px;
}
/*-------P2--------*/

div.p2-container{
    height: fit-content;
    width: 100%;
    margin-top: 160px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    
}
div.p2-container h1{
    width: 100%;
    height: fit-content;
    position: absolute;
    left: 30px;
    top: 600px;
    color:var(--light-orange);
    font-size: 2.5rem;
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    z-index: 99;
}
div.div-imgs2 {
    height:fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-right: 80px;
    
    padding-left: 40px;
    box-sizing: border-box;

}
div.imgs2-container {
    width: fit-content;
    height:fit-content ;
    margin: 0 1%;
    justify-content:space-around;
    
    flex-grow: 1;
    flex-basis: 0;
    transition: .5s;
}

div.imgs2-container img {
    width: 100%;
    height: 50%;
    max-width: 250px;
    max-height: 350px;
    object-fit: cover;
    transition: .5s;
    filter: brightness(70%);
    border-radius: 15px;
}

div.imgs2-container:hover {
    flex-basis: 20%;
    filter: brightness(140%);

}



.p2-container p{
    max-width: 300px;
    height: fit-content;
    padding: 10px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.945);
    border-radius: 10px;}
/*----p3----*/
div.p3-container{
    height: fit-content;
    width: 100%;
    margin-top: 160px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    
}
div.p3-container h1{
    width: 100%;
    height: fit-content;
    position: absolute;
    left: 30px;
    top: 1100px;
    color:var(--light-orange);
    font-size: 2.5rem;
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    z-index: 99;
}
div.div-imgs3 {
    height:fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-right: 80px;
    
    padding-left: 40px;
    box-sizing: border-box;

}
div.imgs3-container {
    width: fit-content;
    height:fit-content ;
    margin: 0 1%;
    justify-content:space-around;
    
    flex-grow: 1;
    flex-basis: 0;
    transition: .5s;
}

div.imgs3-container img {
    width: 100%;
    height: 50%;
    max-width: 250px;
    max-height: 350px;
    object-fit: cover;
    transition: .5s;
    filter: brightness(70%);
    border-radius: 15px;
}

div.imgs3-container:hover {
    flex-basis: 20%;
    filter: brightness(140%);

}



.p3-container p{
    max-width: 300px;
    height: fit-content;
    padding: 10px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.945);
    border-radius: 10px;
}











/*End of Gallery*/

/* FOOTER*/

.footer-container.container {
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 0%;
    border-radius: 10px;
    background: linear-gradient(315deg, #1f2022 10%, #dd7c14 15%, #6a7075 25%, #686664 30%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}



.footer-container.container:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.footer-container.container:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

.footer-container.container h3 {
    color: var(--light-orange);

}

div.contact {
    height: 40px;
    display: flex;
    margin-left: 20px;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    
    margin-bottom: 0%;
}


div.contact p {
    max-width: 400px;
    margin: 0%;
    font-size: 1rem;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(247, 243, 243);
    border-radius: 10px;
    border: 1px solid;
}
/*End of Footer*/